<h2>ログイン</h2>
<br>
<br>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <br>
  <br>
  <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :私を記憶する %>
    </div>
  <% end %>

  <br>
  <br>


  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
