<h1>(自分の題名)</h1>
<h3>新規投稿ページ</h3>
<%= form_for @post do |f| %>
   
  <div class="field">
    <%= f.label :body  %>
    <%= f.text_area :body, :size => "30x2" %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <%= f.submit "投稿する" %>
<% end %>

<%= link_to "一覧に戻る", posts_path %>