
<h3>post詳細</h3>
<div class="post">
  <p><%= @post.body %></p>
  <p><%= @post.created_at %></p>


<div class="comment-wrapper">
  <p>コメント一覧</p>
  <% @comments.each do |c| %>
    <div>
      <%= c.user.email unless c.user.blank? %>
      <br>
      <%= c.content %>
    </div>
      <br>
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@post, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>

   
 
  <% end %>
</div>


<%= link_to "post一覧に戻る", posts_path %>